In [2]:
import pandas as pd

In [3]:
geo = pd.read_json("/Users/kevinc/Library/Mobile Documents/com~apple~CloudDocs/custom.geo.json")

In [4]:
geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      175 non-null    object
 1   features  175 non-null    object
dtypes: object(2)
memory usage: 2.9+ KB

In [5]:
cv = pd.read_csv("/Users/kevinc/Downloads/owid-covid-data.csv")

In [6]:
cv.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [7]:
cv["location"].value_counts()

Argentina         1142
Mexico            1142
Thailand          1139
Taiwan            1127
High income       1121
                  ...
Palau              543
Tokelau            533
Niue               485
Pitcairn           441
Western Sahara       1
Name: location, Length: 248, dtype: int64

In [8]:
cv.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.432550e+05,2.429770e+05,2.417730e+05,2.235980e+05,223497.00000,222311.000000,242150.000000,241872.000000,240673.000000,222506.000000,...,154930.000000,102165.000000,184664.000000,236559.000000,202446.000000,2.566320e+05,8.531000e+03,8531.000000,8531.000000,8531.000000
mean,5.270465e+06,1.181572e+04,1.186335e+04,7.972768e+04,127.48649,128.067274,73270.553171,178.321287,178.821279,751.458558,...,32.820586,50.898942,3.089252,73.598561,0.724543,1.405413e+08,5.167216e+04,10.313593,14.114181,1490.624400
std,3.242531e+07,8.218288e+04,7.989583e+04,4.062786e+05,738.43841,684.531200,123801.009986,1128.972886,668.061606,1027.829543,...,13.539108,31.884357,2.551542,7.446250,0.149554,6.916967e+08,1.407291e+05,13.242279,25.822521,1831.869984
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.00000,0.000000,0.001000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-28.450000,-95.920000,-1984.281600
25%,5.708500e+03,0.000000e+00,4.571000e+00,1.240000e+02,0.00000,0.000000,1377.406750,0.000000,0.939000,34.240250,...,21.600000,20.859000,1.300000,69.500000,0.602000,8.367830e+05,8.600001e+01,1.045000,0.250000,51.556450
50%,6.189000e+04,3.800000e+01,7.785700e+01,1.358000e+03,0.00000,1.143000,13927.810000,4.859000,16.174000,248.868500,...,33.100000,49.839000,2.500000,75.050000,0.742000,6.948395e+06,6.983201e+03,7.970000,7.580000,927.002100
75%,6.402300e+05,8.260000e+02,1.006857e+03,1.097200e+04,11.00000,13.571000,87213.398750,84.261750,123.672000,1129.299000,...,41.300000,83.241000,4.200000,79.070000,0.838000,3.369661e+07,3.765704e+04,16.310000,19.180000,2399.098100
max,6.733467e+08,4.082888e+06,3.436560e+06,6.857274e+06,60788.00000,14860.286000,720435.220000,228872.025000,36421.827000,6440.401000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.253111e+06,76.550000,376.770000,10112.677000

In [10]:
a = cv.loc[cv["location"].isin(["Norway", "United Kingdom"]), ["iso_code","location", "date", "total_cases_per_million"]]
a

       iso_code        location        date  total_cases_per_million
173027      NOR          Norway  2020-02-12                      NaN
173028      NOR          Norway  2020-02-26                    0.184
173029      NOR          Norway  2020-02-27                    0.184
173030      NOR          Norway  2020-02-28                    1.104
173031      NOR          Norway  2020-02-29                    2.760
...         ...             ...         ...                      ...
242246      GBR  United Kingdom  2023-02-11               360189.101
242247      GBR  United Kingdom  2023-02-12               360189.101
242248      GBR  United Kingdom  2023-02-13               360189.101
242249      GBR  United Kingdom  2023-02-14               360189.101
242250      GBR  United Kingdom  2023-02-15               360189.101

[2200 rows x 4 columns]

In [11]:
a.to_csv("/Users/kevinc/Downloads/F21DV/CW1/F21DV_CW1/data/test3.csv", index=False)